@use "../../../../../src/styles/color.scss" as *;

:host {
  .project-page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 34px;
    gap: 34px;
    height: 100%;
    contain: strict;
    .project-page-title {
      font-weight: 700;
      font-size: 28px;
    }
    .project-page-body {
      display: flex;
      flex-flow: column;
      gap: 16px;
      align-items: flex-end;
      width: 100%;
      flex: 1;
      max-width: 60%;
      overflow: hidden;
      .filter-box {
        background-color: $background-item-color;
        color: $white-color;
        border: 1px solid $border-color-1;
        border-radius: 16px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        gap: 8px;
        &.open {
          .arrow-icon {
            transform: rotate(-180deg);
          }
        }
        .arrow-icon {
          transition: transform 0.3s ease;
          width: 16px;
        }
      }
      .project-card-container {
        display: flex;
        flex-flow: column;
        gap: 34px;
        width: 100%;
        flex: 1;
        overflow: auto;
        padding: 0 24px;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: $light-purple-color;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $profile-background-color;
          transition: background-color 03s ease;
          cursor: pointer;
          &:hover {
            background-color: $background-item-color;
          }
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel.project-page-filter-menu {
  border-radius: 8px;
  margin: 8px 0 0 0;
  .mat-mdc-menu-content {
    padding: 0;
    .mat-mdc-menu-item {
      background-color: $background-item-color;
      transition: background-color 0.3s ease;
      .mat-mdc-menu-item-text {
        font-size: 14px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
      &:hover {
        background-color: $img-background-color;
      }
    }
  }
}
