<div class="project-page-container">
  <div class="project-page-title">Projects</div>
  <div class="project-page-body">
    <div class="filter-box" [matMenuTriggerFor]="projectPageFilterMenu" #menuTrigger="matMenuTrigger" [class.open]="menuTrigger.menuOpen">
      filter
      <img src="/assets/icons/arrow-icon-white.svg" class="arrow-icon" />
    </div>
    <mat-menu #projectPageFilterMenu="matMenu" class="project-page-filter-menu">
      <button mat-menu-item>menu</button>
    </mat-menu>
    <div class="project-card-container">
      <app-project-card></app-project-card>
    </div>
  </div>
</div>
