:host {
  .hobby-page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 34px;
    gap: 34px;
    height: 100%;
    .hobby-page-title {
      font-weight: 700;
      font-size: 28px;
    }
    .hobby-page-body {
      width: 100%;
      max-width: 60%;
      .card-wrap {
        display: flex;
        flex-flow: column;
        gap: 32px;
        width: 100%;
      }
    }
  }
}
