<div class="home-page-container">
  <div class="home-page-title">Hana</div>
  <div class="home-page-body">
    <div class="carousel-card-container">
      <app-carousel-gallery></app-carousel-gallery>
    </div>
    <div class="description">
      From crafting code to exploring new passions! My professional path is now
      charting a vibrant new course beyond IT. I'm excited to meet new people,
      embrace creative endeavors, and discover where fresh adventures lead!
    </div>
  </div>
</div>
