<div class="about-me-page-container">
  <div class="about-me-page-body">
    <div class="profile-picture"></div>
    <div class="title-name">Hanuera kim (Hana)</div>
    <div class="tag-group">
      @for(tag of tagList; track $index){
      <div class="tag" [ngStyle]="{'backgroundColor': tag.color}">
        <div class="circle"></div>
        {{ tag.text }}
      </div>
      }
    </div>
    <div class="timeline-container">
      <app-timeline [timelineList]="timelineList"></app-timeline>
    </div>
  </div>
</div>
