<div class="contact-page-container">
  <div class="contact-page-title">Contacts</div>
  <div class="contact-page-body">
    <div class="box-group">
      @for(contact of mainContacts; track $index){
      <div class="box" (click)="goToPage(contact.url)">
        @switch(contact.type) { @case ('GITHUB') {
        <img
          src="/assets/icons/github-icon.svg"
          class="platform-icon"
          [draggable]="false"
        />
        } @case ('FACEBOOK') {
        <img
          src="/assets/icons/facebook-icon.svg"
          class="platform-icon"
          [draggable]="false"
        />
        } @case ('INSTAGRAM') {
        <img
          src="/assets/icons/instagram-icon.svg"
          class="platform-icon"
          [draggable]="false"
        />
        } }
      </div>
      }
    </div>
    @if(copiedMessage.show){
    <div
      class="copied-popup"
      [ngStyle]="{ top: copiedMessage.y + 'px', left: copiedMessage.x + 'px' }"
    >
      Copied!
    </div>
    }

    <div class="bar-group">
      @for(contact of contacts; track $index; let i = $index) {
      <div class="bar" (click)="copyToClipboard($event, contact.text)">
        <div class="icon">
          @switch(contact.type) { @case ('MAIL') {
          <img
            src="/assets/icons/mail-icon.svg"
            class="icon-img"
            [draggable]="false"
          />
          } @case ('PHONE') {
          <img
            src="/assets/icons/phone-icon.svg"
            class="icon-img"
            [draggable]="false"
          />
          } @case ('LOCATION') {
          <img
            src="/assets/icons/location-icon.svg"
            class="icon-img"
            [draggable]="false"
          />
          } }
        </div>
        <div class="text">{{ contact.text }}</div>
      </div>
      }
    </div>
  </div>
</div>
